.articles-main {
  background-color: rgb(31, 28, 28);
  min-height: 100vh;
}

.card-display {
  max-width: 25%;
  min-width: 24%;
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}
.page-button {
  padding: 10px;
  margin: 20px;
  font-size: 2rem;
  color: lime;
  border-color: lime;
  border-radius: 25px;
  background-color: rgb(31, 28, 28);
  cursor: pointer;
}

.beers-text {
  font-size: 3rem;
}
